14/08/2024 
TUPLE 
tuple formate
*integer
*float
*string
*complex
*mixed
*nested

In [11]:
t=() #empty

In [13]:
type(t)

tuple

In [17]:
t=(9,8,4,52,32,0) # any value to integer number formate
t

(9, 8, 4, 52, 32, 0)

In [19]:
t1=(1.1,2.2,3.3,4.4,5.6) #any values to insulted float formate point
t1

(1.1, 2.2, 3.3, 4.4, 5.6)

In [23]:
t2=('rohit','soham','dnyaneshwar','prasad') #any values string formate
t2

('rohit', 'soham', 'dnyaneshwar', 'prasad')

In [43]:
t3=(10+1j,12+2j,14-4j) #only use complex no using by j
t3

((10+1j), (12+2j), (14-4j))

In [45]:
t4=(0,10,12.3,14.5,20,'rohit',10+1j,0)  #use mixed values 
t4

(0, 10, 12.3, 14.5, 20, 'rohit', (10+1j), 0)

In [49]:
t5=('rohit',(10,20,30,40),'soham') #using nested values
t5

('rohit', (10, 20, 30, 40), 'soham')

tuple
tuple index

In [54]:
print(t)

(9, 8, 4, 52, 32, 0)

In [58]:
print(t5)

('rohit', (10, 20, 30, 40), 'soham')

In [76]:
t[4] #index retrive

32

In [84]:
t5[1][2]

30

In [86]:
t2

('rohit', 'soham', 'dnyaneshwar', 'prasad')

In [88]:
t2[-3]

'soham'

In [92]:
t2[2]

'dnyaneshwar'

tuple
tuple slicing

In [110]:
t6=(1,2,3,4,5,6,7,8,9,0)

In [112]:
t6[:]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [116]:
t6[2:8]  #total len starting to end values show

(3, 4, 5, 6, 7, 8)

In [128]:
t6[-7:-1] #negative staring to negative end

(4, 5, 6, 7, 8, 9)

tuple
tuple removing change

In [130]:
t6

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [134]:
del t6 #deleted file store the data form t6

NameError: name 't6' is not defined

loop in tuple

In [140]:
t7=(9,8,7,6,5,4,3,2,1,0) #new

In [152]:
t7

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [150]:
for i in t7:  # loop in tuple
    print(i)

9
8
7
6
5
4
3
2
1
0

In [154]:
for i in enumerate(t7):   #enumerate of the tuple pair funtion is calculated given
    print(i)

(0, 9)
(1, 8)
(2, 7)
(3, 6)
(4, 5)
(5, 4)
(6, 3)
(7, 2)
(8, 1)
(9, 0)

tuple in build funtion
*count
*index

In [162]:
t8=(21,22,23,55,66,75,52,95,'rohit','soham',75,22,58,21)
t8

(21, 22, 23, 55, 66, 75, 52, 95, 'rohit', 'soham', 75, 22, 58, 21)

In [164]:
t8.count(75)  #total len is count by repeted number of veriable

2

In [168]:
len(t8)  # total len is counted by length

14

In [170]:
t8.index('rohit') # 0 to start the total possition of save the  tuple

8

tuple membership
*

tuple mumbership
*check wheather the value in tuple or not 
*true or false values

In [178]:
t8

(21, 22, 23, 55, 66, 75, 52, 95, 'rohit', 'soham', 75, 22, 58, 21)

In [180]:
'rohit'in t8   #value is the searching to length of tuple true then not search that false

True

In [182]:
25 in t8   #seaching of values to check by len show not then false

False

tuple
sorting

In [184]:
t9=(54,65,75,45,85,52,74,52,54,13,45,25,14,45)
t9

(54, 65, 75, 45, 85, 52, 74, 52, 54, 13, 45, 25, 14, 45)

In [186]:
sorted(t9)   #sorted for arrage the squeance length

[13, 14, 25, 45, 45, 45, 52, 52, 54, 54, 65, 74, 75, 85]

In [200]:
sorted(t9,reverse=True)  #sorted for arrage the reverse length

[85, 75, 74, 65, 54, 54, 52, 52, 45, 45, 45, 25, 14, 13]

Set
*duplicated not allows
*can not inside to add insulted  #  EX {[]} #

In [202]:
d={}  # show open close blaket set

In [204]:
type(d)

dict

In [206]:
s= set ()

In [208]:
type(s)

set

In [210]:
s={1,2,3,4,5,6,7,8,9}  #set interger
s1={2.1,2.5,6.7,4.8,6.5,9.4,} #float
s2={"soham","rohit","prasad"} #string
s3={20+5j,65+7j,9+33j} #complex
s4={1,23,5.6,9.6,7,'soham','rohit',45,2.2,45+4j}  #mixed values

In [214]:
print(s)
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2.1, 2.5, 4.8, 6.7, 6.5, 9.4}
{'rohit', 'prasad', 'soham'}
{(20+5j), (9+33j), (65+7j)}
{1, 2.2, 'rohit', 5.6, 7, 9.6, 45, 'soham', 23, (45+4j)}

In [216]:
len(s)  # total length set

9

In [220]:
s5={1,22,2,2,1,22,65,1,35,4}  #not using for duplicate set of the length
s5

{1, 2, 4, 22, 35, 65}

In [222]:
s2

{'prasad', 'rohit', 'soham'}

In [232]:
s6={1,2,3,[5,6,7,8]}  # cannot be inside in side add in list not for insulted
s6

TypeError: unhashable type: 'list'

set 
set for loop

In [234]:
for i in s:   # list for the row formate data 
    print(i)

1
2
3
4
5
6
7
8
9

for i in enumerate(s):   # 0 starting of the data total count for enumarate set 
    print(i)

set
set membership
*set true or false

In [242]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [250]:
5 in s    #find which no to insult first then set file true or false values show

True

set
membership using
if else statment

In [252]:
if 5 in s:              # if statement if or else to check print yes or no then send data 
    print("yes")
else:
    print("no")

yes

In [254]:
if 0 in s:              # if statement if or else to check print yes or no then send data 
    print("yes")
else:
    print("no")

no

set of funtion
add(),removea(),clear(),copy()

In [256]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [262]:
s.add(10)    # add an element on the set
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [264]:
s.remove(10)      #remove the element thet you give as argu
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [272]:
s.clear()       # clear all the elment of the set
s

set()

In [285]:
s.add(1,2,3,4,5,6,7,8,9);  # we canot pass more the one argument in add function
s

TypeError: set.add() takes exactly one argument (9 given)

In [287]:
s.add(1)     #add many time to element of set 
s.add(2)
s.add(3)
s.add(4)
s.add(5)
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [289]:
s

{1, 2, 3, 4, 5, 6}

set  operation
*union                 ("|")
*intersection          ("&")
*difference            ("-")
*symmetric_difference
*issubset              
*issuperset           
*isdisjoint

In [291]:
s1={1,2,3,4,5,6}
s2={5,6,7,8,9}

In [293]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9}

In [295]:
s1.union(s2)   #it combine all the element into one set taking duplicate at once

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [297]:
s1|s2         #union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [299]:
s1.intersection(s2)    # take only the common element

{5, 6}

In [301]:
s1&s2        #intersection

{5, 6}

In [303]:
s1.difference(s2)  # it show only the element present in set1 excepting the common element

{1, 2, 3, 4}

In [305]:
s1-s2

{1, 2, 3, 4}

In [307]:
s2-s1

{7, 8, 9}

In [311]:
s1.symmetric_difference(s2)     # except the not given common element all element

{1, 2, 3, 4, 7, 8, 9}

In [327]:
s2.add(1)
s2.add(2)
s2.add(3)
s2.add(4)
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [329]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [331]:
s1.issubset(s2)  #all element s1 or s2 same then true other wise false

True

In [341]:
s1.issuperset(s2)   #all in set2 some element of set1 are there

False

In [333]:
s1

{1, 2, 3, 4, 5, 6}

In [335]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [337]:
s2.remove(1)
s2.remove(2)
s2.remove(3)
s2.remove(4)
s2

{5, 6, 7, 8, 9}

In [339]:
s2

{5, 6, 7, 8, 9}

In [343]:
s1.isdisjoint(s2)   # set1 element is different in set2 element

False

In [345]:
s2.isdisjoint(s1)

False

set builtin funtion
*sum()
*max()
*min()
*len()
*sorted()

In [347]:
s1

{1, 2, 3, 4, 5, 6}

In [349]:
sum(s1)  #total sum of value length

21

In [351]:
max(s1)   #total hight value of the set

6

In [353]:
min(s1)   #total small value the set

1

In [355]:
len(s1)  #total lenth of the set

6

In [357]:
sorted(s1)   #total lenth of asecnding order values

[1, 2, 3, 4, 5, 6]

In [359]:
sorted(s1,reverse=True)   #total lenth of decending order values

[6, 5, 4, 3, 2, 1]

set
dictionary {}
asign values in key pair formated
dic_name={key1 : val1 , key2 : val2}

*keys
*values
*items

In [365]:
d={}
type(d)

dict

In [367]:
d={1 : "one",2 : "two",3 : "three",4 :"four",5 : "five",6 : "six"}
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [369]:
d.keys()  #intger keys values of show in case

dict_keys([1, 2, 3, 4, 5, 6])

In [371]:
d.values() #float values of shows in case

dict_values(['one', 'two', 'three', 'four', 'five', 'six'])

In [373]:
d.items()  #mixed values of the total lenth of the data

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')])

In [375]:
for i in d:   # total int values of keys
    print(i)

1
2
3
4
5
6

In [381]:
for i in d:       # total float values of set
    print(d[i])

one
two
three
four
five
six

In [386]:
dict=d.copy()  # name is changed  and copy

In [388]:
dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [390]:
d.clear() #clear of all data length of set

In [392]:
d

{}

In [402]:
dict.get(3)  # copy of data can clear by then show get data set

'three'

In [408]:
dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

dict.pop(6)      #pop means the data can delect of set

In [412]:
dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [418]:
d = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [425]:
keys = 1,2,3,4,5,6,7,8,9,10       #assending order list of keys
values = "soham"
d =dict.fromkeys(keys,values)

In [427]:
d

{1: 'soham',
 2: 'soham',
 3: 'soham',
 4: 'soham',
 5: 'soham',
 6: 'soham',
 7: 'soham',
 8: 'soham',
 9: 'soham',
 10: 'soham'}

accending to values of key set

In [429]:
d={1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [431]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [435]:
d[5]    #int  values

'five'

In [437]:
d.get(5)   #float values

'five'

In [449]:
d={}                       # saving data for new method
d["soham"] = 'rohit'
d["computer"] = 'engineering'
d["age"] = 21
d["dob"] = '31/07/2024'

In [443]:
d

{'soham': 'rohit', 'computer': 'engineering', 'age': '21', 'dob': '31/07/2024'}

In [451]:
d["soham"] = 'rohit prasad'

In [453]:
d       # update the value in he dictionary

{'soham': 'rohit prasad',
 'computer': 'engineering',
 'age': 21,
 'dob': '31/07/2024'}

In [455]:
d["salary"] = '100k'

In [457]:
d        # add any items into the dictionary

{'soham': 'rohit prasad',
 'computer': 'engineering',
 'age': 21,
 'dob': '31/07/2024',
 'salary': '100k'}

In [459]:
d.pop("dob")   # delete the item of data keys

'31/07/2024'

In [461]:
d

{'soham': 'rohit prasad',
 'computer': 'engineering',
 'age': 21,
 'salary': '100k'}

In [463]:
d.popitem()  #last item in the list

('salary', '100k')

In [465]:
d

{'soham': 'rohit prasad', 'computer': 'engineering', 'age': 21}

In [473]:
d.clear()   #delete the item of keys

In [492]:
d={'soham': 'rohit prasad', 'computer': 'engineering', 'age': 21}

d

{'soham': 'rohit prasad', 'computer': 'engineering', 'age': 21}

set 
dictionary membership
* true or false

In [494]:
'age'in d  # searching values of show to check by keys

True

In [496]:
'soham' in d   #secrching values of true or false data

True

set
*any
*all

In [498]:
all(d)

True

In [500]:
any(d)

True